# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django migrations
*/migrations/*.py
*/migrations/*.pyc
# Keep __init__.py for migrations
!*/migrations/__init__.py

# Environment
.env
.venv/
env/
venv/

# Pytest cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
local_settings.py

# Media & static files
/media/
/staticfiles/
/static_root/
/static/

# IDE/editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
