version: '3.9'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: netfixdb      # your database name
      MYSQL_USER: netfixuser        # non-root user
      MYSQL_PASSWORD: netfixpass    # password for non-root user
      MYSQL_ROOT_PASSWORD: rootpass # root password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  web:
    build: .
    command: gunicorn netfix.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file: netfix/.env
    depends_on:
      - db

volumes:
  mysql_data:
