version: '3.9'

services:
  mysql:
    image: mysql:8
    container_name: netfix_db
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 10

  django:
    build: .
    container_name: netfix_app
    env_file:
      - .env
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8000:8000"

volumes:
  mysql_data:
