{% extends 'main/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="login-page">
        <h2>Register</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- This will render the form fields -->
            <button type="submit">Register</button>
        </form>

        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
