<div class="service-menu">
    <!-- <a href="{% url 'services' %}" class="service-button">Services </a> -->
    <!-- <ul class="service-dropdown">
                    <li><a href="?service=Air Conditioner">Air Conditioner</a></li>
                    <li><a href="?service=All in One">All in One</a></li>
                    <li><a href="?service=Carpentry">Carpentry</a></li>
                    <li><a href="?service=Electricity">Electricity</a></li>
                    <li><a href="?service=Gardening">Gardening</a></li>
                    <li><a href="?service=Home Machines">Home Machines</a></li>
                    <li><a href="?service=Housekeeping">Housekeeping</a></li>
                    <li><a href="?service=Interior Design">Interior Design</a></li>
                    <li><a href="?service=Locks">Locks</a></li>
                    <li><a href="?service=Painting">Painting</a></li>
                    <li><a href="?service=Plumbing">Plumbing</a></li>
                    <li><a href="?service=Water Heaters">Water Heaters</a></li>
                </ul> -->
</div>


<nav>
    <ul>
        <!-- {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %} -->
    </ul>

</nav>

        <!-- <h4 >{{ service.field }}: </h4><a href="{% url 'service_detail'  service.id%}"> {{ service.name }}</a><span>--{{ service.price_per_hour }}$</span> -->
